body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Avenir', 'Segoe UI', sans-serif;
}

a{
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
}

p:active, p:focus {
  color: black;
}